<header class="site-header">
  <div class="header-container">
    <div class="site-title">
      <%= link_to 'Find Your Groove', root_path %>
    </div>
    <nav>
      <%= link_to '診断する', diagnoses_path %>
      <%= link_to '投稿一覧', genres_path %>
    </nav>
  </div>
</header>